* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.3s background;
  -o-transition: 0.3s background;
  transition: 0.3s background;
  background: #f5fffd;
}

body.locked {
  overflow: hidden;
}

body.dark {
  background: #221f2c;
}

body.dark h1,
body.dark p {
  color: white;
}

body.dark header {
  background: -webkit-gradient(linear, right top, left top, from(rgba(34, 31, 44, 0)), color-stop(19.16%, #221f2c), color-stop(48.88%, #221f2c), color-stop(82.18%, #221f2c), to(rgba(34, 31, 44, 0)));
  background: -o-linear-gradient(right, rgba(34, 31, 44, 0) 0%, #221f2c 19.16%, #221f2c 48.88%, #221f2c 82.18%, rgba(34, 31, 44, 0) 100%);
  background: linear-gradient(270deg, rgba(34, 31, 44, 0) 0%, #221f2c 19.16%, #221f2c 48.88%, #221f2c 82.18%, rgba(34, 31, 44, 0) 100%);
}

body.dark .menu__item-link {
  color: #ffffff;
}

body.dark .menu__item-link:hover {
  color: #8750f3;
}

body.dark .section__hero::after {
  background: -o-linear-gradient(269.84deg, rgba(34, 31, 44, 0) 9.5%, rgba(34, 31, 44, 0.9) 59.56%, #221f2c 76.67%, #221f2c 99.86%);
  background: linear-gradient(180.16deg, rgba(34, 31, 44, 0) 9.5%, rgba(34, 31, 44, 0.9) 59.56%, #221f2c 76.67%, #221f2c 99.86%);
}

body.dark .card {
  background: #221f2c;
}

body.dark .section__contacts {
  background: #221f2c;
}

body.dark .contacts__input {
  background: #312d43;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  color: white;
}

body.dark .contacts__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

body.dark .contacts__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

body.dark .contacts__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

body.dark .contacts__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

body.dark .contacts__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

body.dark .contacts__textarea {
  background: #312d43;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  color: white;
}

body.dark .contacts__textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

body.dark .contacts__textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

body.dark .contacts__textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

body.dark .contacts__textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

body.dark .contacts__textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

body.dark .contacts__img-1,
body.dark .contacts__img-2 {
  z-index: 2;
}

.btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(65, 51, 153, 0.25);
  padding: 14px 24px;
  background: -webkit-gradient(linear, left top, right top, from(#5ed3d0), color-stop(50.52%, #83a4f6), to(#8750f3));
  background: -o-linear-gradient(left, #5ed3d0 0%, #83a4f6 50.52%, #8750f3 100%);
  background: linear-gradient(90deg, #5ed3d0 0%, #83a4f6 50.52%, #8750f3 100%);
  -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: inline-block;
  background-position: 100% 0;
  background-size: 200% 200%;
}

.btn:hover {
  background-position: 0 0;
}

.btn__outline {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  color: #a67afd;
  padding: 12px 24px;
  border: 2px solid #a67afd;
  border-radius: 10px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: inline-block;
}

.btn__outline:hover {
  background: #a67afd;
  color: #ffffff;
}

.section__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #2f2f35;
}

.section__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #2f2f35;
  margin-top: 50px;
}

.section__btn {
  margin-top: 50px;
}

.text__center {
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#5ed3d0), color-stop(50.52%, #83a4f6), to(#8750f3));
  background: -o-linear-gradient(left, #5ed3d0 0%, #83a4f6 50.52%, #8750f3 100%);
  background: linear-gradient(90deg, #5ed3d0 0%, #83a4f6 50.52%, #8750f3 100%);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.loader__title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: white;
  z-index: 7;
}

header {
  position: relative;
  background: -webkit-gradient(linear, right top, left top, from(rgba(248, 255, 255, 0)), color-stop(19.16%, #f8ffff), color-stop(48.88%, #f8ffff), color-stop(82.18%, #f8ffff), to(rgba(248, 255, 255, 0)));
  background: -o-linear-gradient(right, rgba(248, 255, 255, 0) 0%, #f8ffff 19.16%, #f8ffff 48.88%, #f8ffff 82.18%, rgba(248, 255, 255, 0) 100%);
  background: linear-gradient(270deg, rgba(248, 255, 255, 0) 0%, #f8ffff 19.16%, #f8ffff 48.88%, #f8ffff 82.18%, rgba(248, 255, 255, 0) 100%);
}

header:after {
  position: absolute;
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(rgba(180, 183, 255, 0)), color-stop(48.37%, #b4b7ff), to(rgba(180, 183, 255, 0)));
  background: -o-linear-gradient(left, rgba(180, 183, 255, 0) 0%, #b4b7ff 48.37%, rgba(180, 183, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(180, 183, 255, 0) 0%, #b4b7ff 48.37%, rgba(180, 183, 255, 0) 100%);
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
}

header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.logo a .logo__laptop {
  width: 45px;
}

.logo a .logo__mob {
  width: 120px;
  display: none;
}

.header__actions {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: 60px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__item-link {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.5s color;
  -o-transition: 0.5s color;
  transition: 0.5s color;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  color: #2f2f35;
}

.menu__item-link:hover {
  color: #8750f3;
}

.burger {
  display: none;
  background: transparent;
  z-index: 3;
}

.switch {
  width: 52px;
  height: 24px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.switch__checkbox {
  display: none;
}

.switch__checkbox:checked + .switch__slider {
  background: url("../img/night.svg") center/cover no-repeat;
}

.switch__checkbox:checked + .switch__slider:after {
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.switch__slider {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/day.svg") center/cover no-repeat;
  border-radius: 30px;
  -webkit-transition: 0.5s background;
  -o-transition: 0.5s background;
  transition: 0.5s background;
}

.switch__slider::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: white;
  -webkit-transition: 0.5s left, background;
  -o-transition: 0.5s left, background;
  transition: 0.5s left, background;
  left: 3px;
  top: 3px;
}

.section__hero {
  padding: 225px 0 150px 0;
  position: relative;
  overflow: hidden;
}

.section__hero .hero__gradient {
  position: absolute;
  left: 0;
  top: -100px;
  z-index: -1;
}

.section__hero .hero__images {
  position: absolute;
  right: -200px;
  bottom: -450px;
  z-index: -1;
}

.section__hero:after {
  position: absolute;
  content: "";
  background: -o-linear-gradient(269.84deg, rgba(246, 255, 253, 0) 9.5%, rgba(246, 255, 253, 0.9) 59.56%, #f6fffd 76.67%, #f6fffd 99.86%);
  background: linear-gradient(180.16deg, rgba(246, 255, 253, 0) 9.5%, rgba(246, 255, 253, 0.9) 59.56%, #f6fffd 76.67%, #f6fffd 99.86%);
  height: 150px;
  width: 100%;
  left: 0;
}

.hero {
  max-width: 652px;
}

.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 62px;
  color: #2f2f35;
}

.hero__title span {
  background: -webkit-gradient(linear, left top, right top, color-stop(56.44%, #5ed3d0), color-stop(86.81%, #8750f3));
  background: -o-linear-gradient(left, #5ed3d0 56.44%, #8750f3 86.81%);
  background: linear-gradient(90deg, #5ed3d0 56.44%, #8750f3 86.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 74px;
  color: #2f2f35;
}

.hero__btn {
  margin-top: 40px;
}

.section__profile {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.section__profile .profile__gradient {
  position: absolute;
  right: 0;
  top: -200px;
  z-index: -1;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.profile__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.profile__img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-left: -150px;
}

.profile__img.profile__img-2 {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.section__card {
  padding: 75px 0;
  background: url("../img/card__bg.svg") center/cover no-repeat;
  overflow: hidden;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 50px 70px;
  position: relative;
}

.card .card__img {
  position: absolute;
  right: -50px;
  top: -50px;
}

.card .card__tree {
  position: absolute;
  right: 0px;
  top: -50px;
}

.card__item {
  max-width: 600px;
  width: 100%;
}

.section__info {
  padding: 50px 0;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info.info__reverse .info__img {
  display: block;
}

.info.info__reverse .info__img-1 {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  z-index: -1;
  margin-top: -40px;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.info__item.images__item {
  display: grid;
  grid-template-areas: "stack";
  padding-right: 20px;
}

.info__img {
  grid-area: stack;
  padding-top: 80px;
}

.info__img-1 {
  -webkit-transform: translate(25px, -50px);
      -ms-transform: translate(25px, -50px);
          transform: translate(25px, -50px);
}

.section__start {
  padding: 50px 0;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start img {
  max-width: 500px;
  margin-bottom: -30px;
}

.section__roadmap {
  overflow: hidden;
  padding: 50px 0;
}

.roadmap__img {
  margin: 25px 0;
  max-width: 100%;
  width: 100%;
}

.kyc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.kyc__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 160px;
          flex: 0 1 160px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  padding: 26px 16px;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.kyc__num {
  position: absolute;
  left: 50%;
  top: -35px;
  border-radius: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #3c3c40;
  width: 50px;
  height: 50px;
  padding: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
}

.kyc__num.kyc__num-1 {
  background: #7effc1;
}

.kyc__num.kyc__num-2 {
  background: #ffaa5b;
}

.kyc__num.kyc__num-3 {
  background: #a689fb;
}

.kyc__num.kyc__num-4 {
  background: #fdec58;
}

.kyc__num.kyc__num-5 {
  background: #638fff;
}

.section__contacts {
  padding: 100px 0;
  overflow: hidden;
  margin-top: 50px;
  z-index: 0;
}

.contacts {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.contacts .contacts__img-1 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.contacts .contacts__img-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.contacts__form {
  gap: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  z-index: 2;
}

.contacts__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(242, 255, 250, 0.9)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.9) 0%, rgba(242, 255, 250, 0.9) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(242, 255, 250, 0.9) 100%);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  width: 100%;
  padding: 14px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #2f2f35;
  outline: none;
  border: 1px solid transparent;
}

.contacts__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #2f2f35;
}

.contacts__input::-moz-placeholder {
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #2f2f35;
}

.contacts__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #2f2f35;
}

.contacts__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #2f2f35;
}

.contacts__input::placeholder {
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #2f2f35;
}

.contacts__input:focus {
  border: 1px solid #8750f3;
}

.contacts__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(242, 255, 250, 0.9)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.9) 0%, rgba(242, 255, 250, 0.9) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(242, 255, 250, 0.9) 100%);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  width: 100%;
  padding: 14px 20px;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #2f2f35;
  min-height: 175px;
  resize: none;
  outline: none;
  border: 1px solid transparent;
  border: 1px solid transparent;
}

.contacts__textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #2f2f35;
}

.contacts__textarea::-moz-placeholder {
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #2f2f35;
}

.contacts__textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #2f2f35;
}

.contacts__textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #2f2f35;
}

.contacts__textarea::placeholder {
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #2f2f35;
}

.contacts__textarea:focus {
  border: 1px solid #8750f3;
}

.contacts__btn {
  margin-top: 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  z-index: 2;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .section__title {
    font-size: 32px;
    line-height: 1.3;
  }

  .section__text {
    margin-top: 20px;
  }

  .section__btn {
    margin-top: 20px;
  }

  .profile__img {
    margin-left: -50px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .section__title {
    font-size: 28px;
  }

  .section__text {
    font-size: 16px;
    line-height: 1.4;
  }

  .section__hero {
    padding: 100px 0;
  }

  .section__hero .hero__images {
    bottom: -300px;
    width: 100%;
  }

  .hero {
    max-width: 500px;
  }

  .hero__title {
    font-size: 46px;
    line-height: 1.3;
  }

  .hero__subtitle {
    font-size: 18px;
    line-height: 1.3;
    margin-top: 20px;
  }

  .hero__btn {
    margin-top: 30px;
  }

  .section__profile {
    padding: 75px 0;
  }

  .card {
    padding: 35px;
  }

  .card .card__img {
    display: none;
  }

  .card .card__tree {
    display: none;
  }

  .card__item {
    max-width: 100%;
    text-align: center;
  }

  .info {
    gap: 40px;
  }

  .kyc {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .section__title {
    font-size: 22px;
  }

  .section__text {
    font-size: 14px;
  }

  .logo a .logo__laptop {
    display: none;
  }

  .logo a .logo__mob {
    display: block;
  }

  .header__actions {
    margin-right: 30px;
  }

  .header__btns {
    display: none;
  }

  .menu {
    margin-left: 0;
  }

  .section__hero {
    padding: 54px 0;
  }

  .section__hero .hero__gradient {
    max-width: 300px;
    width: 100%;
    height: auto;
  }

  .section__hero .hero__images {
    width: 370px;
    bottom: 50px;
    right: 0;
  }

  .hero {
    max-width: 100%;
  }

  .hero__title {
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }

  .hero__subtitle {
    font-size: 16px;
    text-align: center;
  }

  .hero__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 300px;
  }

  .section__profile {
    padding: 50px 0;
  }

  .profile {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0px;
  }

  .profile__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .profile__img.profile__img-2 {
    margin-left: 30px;
    margin-top: 20px;
  }

  .section__card {
    padding: 50px 0;
  }

  .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0px;
  }

  .info.info__reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    gap: 30px;
  }

  .info.info__reverse .info__img {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
  }

  .info.info__reverse .info__img-1 {
    rotate: -25deg;
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }

  .info__item.images__item {
    width: 100%;
    padding-right: 25px;
  }

  .info__img {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding-top: 50px;
  }

  .start {
    gap: 0px;
  }

  .start img {
    margin: 20px 0 10px 0;
  }

  .kyc__num {
    font-size: 16px;
  }

  .section__contacts {
    padding: 50px 0;
    margin-top: 25px;
  }

  .contacts {
    max-width: 100%;
  }

  .contacts__form {
    gap: 10px;
  }

  .contacts__input {
    padding: 12px 20px;
    font-size: 14px;
  }

  .contacts__textarea {
    padding: 12px 20px;
    min-height: 150px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767.98px) {
  .menu {
    position: fixed;
    background: -webkit-gradient(linear, left top, right top, from(#5ed3d0), color-stop(50.52%, #83a4f6), to(#8750f3));
    background: -o-linear-gradient(left, #5ed3d0 0%, #83a4f6 50.52%, #8750f3 100%);
    background: linear-gradient(90deg, #5ed3d0 0%, #83a4f6 50.52%, #8750f3 100%);
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .menu .menu__item-link {
    font-size: 42px;
    font-weight: 900;
    margin: 10px 0;
    color: white;
    text-transform: uppercase;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;
  }

  .burger.active:before {
    background: #fefefe;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active:after {
    background: #fefefe;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#5ed3d0), color-stop(50.52%, #83a4f6), to(#8750f3));
    background: -o-linear-gradient(left, #5ed3d0 0%, #83a4f6 50.52%, #8750f3 100%);
    background: linear-gradient(90deg, #5ed3d0 0%, #83a4f6 50.52%, #8750f3 100%);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#5ed3d0), color-stop(50.52%, #83a4f6), to(#8750f3));
    background: -o-linear-gradient(left, #5ed3d0 0%, #83a4f6 50.52%, #8750f3 100%);
    background: linear-gradient(90deg, #5ed3d0 0%, #83a4f6 50.52%, #8750f3 100%);
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
}

@media (max-width: 500px) {
  .start img {
    max-width: 100%;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .section__btn {
    width: 100%;
  }

  .kyc__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 20px 10px;
  }

  .kyc__text {
    text-align: center;
  }
}